#slider-health {
  padding: 10px 5px;
  top: 80px;
  position: relative;
  -webkit-box-shadow: 10px 17px 38px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 17px 38px 0 rgba(0, 0, 0, 0.1); }

#slider-health .item-nav {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#slider-health .item-nav img {
  width: 100%;
  display: block;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

#slider-health .item-nav:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

#slider-health .owl-nav {
  display: none; }

#slider-health .owl-dots {
  display: none; }

#slider-health .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(209, 174, 133, 0.4); }

#slider-health .services_content {
  width: 100%;
  position: absolute;
  text-align: center; }

#slider-health .services_content h3 {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  z-index: 2;
  display: inline-block; }

#slider-health .services_content h2 {
  color: #000;
  font-size: 30px;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
  z-index: 2; }

#slider-health .slider {
  top: 80px; }

#slider-health .slick-slider {
  -webkit-box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.12); }

#section-elite .mhealth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  text-align: justify;
  line-height: 200%;
  font-size: 20px;
  font-weight: 300; }

#section-elite {
  background-image: url("../img/promoSpa/banner elite health.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px; }
  #section-elite .text-princ {
    text-align: center;
    padding: 50px 0px;
    font-size: 20px;
    font-weight: 300; }
  #section-elite h1 {
    text-align: center;
    font-weight: 100;
    color: #4c4b50;
    font-size: 60px; }
  #section-elite p {
    font-size: 20px;
    font-weight: 300;
    text-align: justify; }
  #section-elite h2 {
    text-align: center;
    font-size: 15px;
    letter-spacing: 5px; }
  #section-elite h3 {
    margin-top: 60px;
    text-align: center;
    color: #d1ae85;
    font-size: 20px;
    margin-bottom: 30px; }
  #section-elite .funcion {
    color: #4c4b50;
    font-weight: 100;
    font-size: 40px; }
  #section-elite hr {
    margin-top: 20px; }
  #section-elite ul {
    margin-bottom: 30px; }
    #section-elite ul li {
      list-style: none; }
  #section-elite .modal-heade {
    width: 100%;
    height: 300px;
    background-image: url("./img/promoSpa/banner spa.jpg"); }

.header-img {
  background-image: url(../img/parallax/banner_elite_health.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
  position: relative; }

#modal-form {
  margin-top: 100px;
  text-align: center; }
  #modal-form a {
    font-size: 40px;
    color: #c68659;
    text-decoration: none; }
  #modal-form i {
    padding: 10px;
    opacity: 1; }
  #modal-form i:hover {
    opacity: .8; }

#promo-form .btn-primary {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border-color: #c68659;
  color: #c68659; }

#promo-form .btn-primary:hover {
  background-color: #c68659;
  color: #fff; }

#promo-form button .btn-primary {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border-color: #c68659; }
