#section-tips {
  padding: 70px 0px;
  background-color: #f6f6f6;
  margin-top: -7px;
  width: 100%;
  height: auto; }
  #section-tips .title-sblog {
    color: #c68659;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-bottom: 20px; }
  #section-tips .linea-blog {
    background-color: #664936;
    bottom: 0;
    width: 40px;
    left: 0px;
    height: 1px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px; }
  #section-tips .subtitle-blog {
    text-align: center;
    font-family: 'Poppins', sans-serif; }
  #section-tips .tip {
    background-color: transparent;
    padding: 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.07);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    text-align: left;
    overflow: hidden;
    padding-bottom: 35px;
    margin-left: 30px;
    width: 540px;
    margin-top: 40px; }
  #section-tips .img-tip {
    max-width: 230px;
    max-height: 100%;
    display: inline-block;
    float: right;
    margin-top: -40px;
    margin-left: 20px;
    margin-right: -22px;
    margin-bottom: -90px; }
    #section-tips .img-tip img {
      float: left;
      border-bottom-left-radius: 100%;
      border-top-left-radius: 100%;
      width: 266px;
      height: 257px; }
  #section-tips .txt-tip {
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    margin-bottom: 0;
    line-height: 1.6;
    display: block;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    color: #664936; }
  #section-tips .titulo-tip h5 {
    font-family: 'Poppins', sans-serif; }
    #section-tips .titulo-tip h5 a {
      text-decoration: none;
      font-size: 16px; }
  #section-tips .titulo-tip p {
    font-family: 'Poppins', sans-serif;
    color: #c68659;
    font-size: 17px; }
  #section-tips .seeMore a label {
    font-family: 'Poppins', sans-serif;
    color: #c68659; }
  #section-tips .tips-star {
    text-align: left;
    margin-top: -13px;
    padding-top: 0px; }
    #section-tips .tips-star span i {
      color: #c68659; }

@media (max-width: 576px) {
  .banner1 {
    background-color: #a99f94;
    margin-bottom: 0px; }
    .banner1 h1 {
      text-align: center;
      font-size: 20px;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      padding-top: 50px;
      padding: 30px 0px 30px; }
  .banner2 {
    background-color: #a28f7b; }
    .banner2 h1 {
      text-align: center;
      font-size: 10px;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      padding-top: 50px;
      padding: 50px 0px 50px; }
  #slider img {
    width: 100%;
    height: 100%;
    margin-top: 0px; }
  .flotante {
    display: none; }
  .tp-banner-container {
    margin-top: 30px; }
  .tp-caption {
    display: none; }
  .im-blog {
    padding: 20px; }
  #section-tips {
    padding: 100px 0px; }
    #section-tips .container {
      padding: 30px; }
    #section-tips .tip {
      margin-left: 0px;
      padding: 22px; }
    #section-tips .img-tip {
      max-width: 100%;
      max-height: 100%;
      margin-right: 0;
      display: block;
      margin: auto;
      text-align: center;
      float: none;
      height: auto; }
      #section-tips .img-tip img {
        float: none;
        height: auto;
        border-bottom-left-radius: 0%;
        border-top-left-radius: 0%; }
    #section-tips .txt-tip {
      text-align: center;
      width: 100%; }
    #section-tips .titulo-tip h5 {
      text-align: center;
      padding-top: 10px; }
    #section-tips .titulo-tip p {
      font-family: 'Poppins', sans-serif;
      color: #c68659;
      padding-top: 10px;
      font-size: 17px; }
    #section-tips .titulo-tip .seeMore {
      font-family: 'Poppins', sans-serif;
      color: #c68659;
      text-align: center;
      display: block; }
    #section-tips .tips-star {
      text-align: center; }
  #blog-spas .title-sblog {
    font-size: 24px; }
  .im-blog {
    display: none; }
  #im-redondas li {
    display: block;
    margin-left: 0px; }
  .seeMore a label {
    text-align: center;
    display: block; }
  #parallax-inicio {
    background-image: url(../img/parallax/cscwellnesscenter1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative; }
  #parallax {
    background-image: url(../img/parallax/cscwellnesscenter2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative; }
  .img-tip {
    margin-right: -22px; } }
