#im-redondas
{
    position: relative;
    h2 
    {
        color: #c68659;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: 0px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 10px;
        padding-bottom: 20px;
    }
    .linea-blog
    {
        background-color: #664936;
        bottom: 0;
        width: 40px;
        left: 0px;
        height: 1px;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .subtitle-promo
    {
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
    p
    {
        text-align: center;
    }
    ul
    {
        justify-content:center;
        text-align: center;
    } 
    li
    {
       list-style: none;
       display: inline-block;
       text-align: center;
       padding: 10px;
       position: relative;
       margin-left: 30px;
        cursor: pointer;
        .view img
       {
           display: block;
           position: relative;
           width: 100%;
           border-radius: 50%;
       }
        .img-redo::before
       {
            content: " ";
            position: absolute;
            border: 10px solid rgba(252,186,248,.5);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            z-index: 1;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
       }
       .view
       {
           position: relative;
           margin-bottom: 20px;
       }
       .mask 
       {
        position: absolute;
        top: 39%;
        text-align: center;
        width: 100%;
        a 
        {
            text-decoration: none;
        }
        .info
        {
            width: 120px;
            height: 46px;
            background-image: linear-gradient(to right,#c68659 0%,#d1ae85 51%,white 100%);
            background-size: 200% auto;
            color: #fff;
            text-transform: uppercase;
            display: block;
            line-height: 46px;
            margin: 0 auto;
            border-radius: 25px;
            font-size: 14px;
            letter-spacing: 0;
            font-weight: 500;
            opacity: 0;
            transition: 0.7s all;
            -webkit-transition: 0.7s all;
            z-index: 1;
            position: relative;
        }
       }
       .view-first:hover p 
       {
            opacity: 1;
            visibility:visible;
            z-index:1 ;
       }
        .view:hover .img-redo::before 
       {
        border: 10px solid rgba(211, 175, 134, 0.5);
       }
    
    .txt-redondas
    {
        font-family: 'Poppins', sans-serif;
        padding-top: 20px;
        font-size: 18px;
        color: $color-titulos;
        font-weight: 100;
        text-decoration: none;
        margin-top: 10px;
    }
    .txt-redondas:hover
    {
        color: #664936;
    }
    }
}