
    

/*-----style navs slider-------*/

#spa-carousel{
        .owl-nav{
            .owl-prev{
               span{
                    position: absolute;
                    top: 80px;
                    left: 50px;
                }
            }
            .owl-next{
                span{
                    position: absolute;
                    top: 80px;
                    right: 50px;
                }
            }
           
        }
}

#sl{
    .owl-nav{
        .owl-prev{
           span{
                position: absolute;
                top: 80px;
                left: 50px;
            }
        }
        .owl-next{
            span{
                position: absolute;
                top: 80px;
                right: 50px;
            }
        }
       
    }
}

.owl-carousel{
    .owl-nav{
        button{
            font-size: 40px!important;
            font-weight: bold!important;
            color: #664936!important;
            background-color: transparent!important;
        }
        button:focus {
            outline: 0px dotted;
            outline: 0px auto -webkit-focus-ring-color;
            color: transparent;
        }
      }
}

 #carrousel-servicios
 {
    .owl-nav{
        .owl-prev{
           span{
                position: absolute;
                top: 150px;
                left: 30px;
            }
        }
        .owl-next{
            span{
                position: absolute;
                top: 150px;
                right: 20px;
            }
        }
       
    }
 }

 #carrusel-galeria
 {
     position: relative;
    .owl-next
    { 
        border: 1px solid #664936;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        line-height: 18px !important;
        transition: 1s;

    }
   
    .owl-prev
    {
        border: 1px solid #664936;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        line-height: 18px;
        transition: 1s;
    }
 }

 #carrusel-galeria .owl-next:hover 
 {
     background-color: #b1875a !important;
     color: white !important;
     border: 1px solid #664936 !important;
 }

 #carrusel-galeria .owl-prev:hover 
 {
     background-color: #b1875a !important;
     color: white !important;
     border: 1px solid #664936 !important;
 }
    
.owl-theme .owl-dot span{
    background-color: #d1ae85!important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #664936!important;
}
.owl-dots
{
    display: none;
}


   


/*----- end style navs slider-------*/





/*--------------------------
    media querys
---------------------------*/
@media (max-width:1200px)
{
    
}

@media (min-width:1200px)
{
   #mostrarmodal{
    .modal-dialog {
        max-width: 800px;
       
    }
    .btn-primary{
        position: absolute;
        bottom: 0;
        align-items: center;
        background-color: #664936;
        border-color: #664936;
        right: 60%;
        margin: 30px 0px;
    }
   }
 
}


@media (max-width:992px)
{
    #spa-carousel{
        .owl-nav{
            .owl-prev{
               span{
                   
                    left: 100px;
                }
            }
            .owl-next{
                span{
                  
                    right: 100px;
                }
            }
           
        }
}
    #sl{
        .owl-nav{
            .owl-prev{
               span{
                    left: 100px;
                }
            }
            .owl-next{
                span{
                    right: 100px;
                }
            }
           
        }
    }
      
}

@media (min-width:992px)
{
   #mostrarmodal{
    .modal-dialog {
        max-width: 800px;
       
    }
    .btn-primary{
        position: absolute;
        bottom: 0;
        align-items: center;
        background-color: #664936;
        border-color: #664936;
        right: 60%;
        margin: 30px 0px;
    }
   }
 
}

.carousel img
{
    margin-top: 0px;
}



@media (max-width:768px)
{
    #spa-carousel{
        .owl-nav{
            .owl-prev{
               span{
                   
                    left: 80px;
                }
            }
            .owl-next{
                span{
                  
                    right: 80px;
                }
            }
           
        }
}
    #sl{
        .owl-nav{
            .owl-prev{
               span{
                    left: 80px;
                }
            }
            .owl-next{
                span{
                    right: 80px;
                }
            }
           
        }
    }
}

@media (min-width:768px)
{
   #mostrarmodal{
    .modal-dialog {
        max-width: 800px;
       
    }
    .btn-primary{
        position: absolute;
        bottom: 0;
        align-items: center;
        background-color: #664936;
        border-color: #664936;
        right: 60%;
        margin: 30px 0px;
    }
   }
 
}

@media (max-width:576px)
{
    video {
        margin-top: 60px;
    }

    #spa-carousel{
        .owl-nav{
            .owl-prev{
               span{
                   
                    left: 40px;
                }
            }
            .owl-next{
                span{
                  
                    right: 40px;
                }
            }
           
        }
}
    #sl{
        .owl-nav{
            .owl-prev{
               span{
                    left: 40px;
                }
            }
            .owl-next{
                span{
                    right: 40px;
                }
            }
           
        }
    }

}

@media (min-width:576px)
{
   #mostrarmodal{
    .modal-dialog {
        max-width: 800px;
       
    }
    .btn-primary{
        position: absolute;
        bottom: 0;
        align-items: center;
        background-color: #664936;
        border-color: #664936;
        right: 60%;
        margin: 30px 0px;
    }
   }
 
}

@media (min-width:320px)
{
   #mostrarmodal{
    .modal-dialog {
        max-width: 800px;
       
    }
    .btn-primary{
        position: absolute;
        bottom: 0;
        align-items: center;
        background-color: #664936;
        border-color: #664936;
        right: 60%;
        margin: 30px 0px;
    }
   }
 
}