.imagen-politicas
{
    width: 100%;
    height: 10%;
}

.active-circulos
{
    background-color:#d1ae85;
    color: white;
}

#textos-principales-servicios
{
    h1
    {
        color: $color-titulos;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: 0px;
        font-weight: bold;
        padding: 50px 0px 20px;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-top: -230px;
    }
    h2 
    {
        font-family: $tipografia;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        padding: 0px 0px 10px;
    }
}

#carrousel-servicios
{
    justify-content: center;
    h1 
    {
        color: $color-titulos;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: 0px;
        font-weight: bold;
        padding: 0px 0px 0px;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-size: 22px;
    }
    .masaje
    {
        list-style: none;
        text-decoration: none;
        font-family:'Poppins', sans-serif; 
        text-align: left;
        padding: 0px 20px 30px;
    }
    
    .contorno
    {
        background-color: white;
        margin-top: -20px;
        margin-bottom: 20px;
        box-shadow: 0 0 60px 1px #afafaf;
        width: 800px;
        max-width: 90%;
        margin:0px;
        height: auto;
        margin-bottom: 10px;
        text-align:left;
    }

    .mr1 
    {
        margin-left: 20px;
    }

    .mr
    {
        text-align: center;
        margin-left: 20px;
        margin-top: 30px; 
        padding: 30px 10px 10px;
    }
    
    .plus
    {
        list-style: none;
        text-decoration: none;
        font-family:'Poppins', sans-serif;
        padding: 0px 20px 30px;
    }
    .sr
    {
        text-align: left;
        margin-left: 20px;
        margin-top: 30px;
    }
    .faciales
    {
        list-style: none;
        text-decoration: none;
        font-family:'Poppins', sans-serif;
        padding: 0px 20px 30px;
    }
    .fr
    {
        text-align: left;
        margin-left: 20px;
        margin-top: 30px;
    }
    .vanguardia
    {
         list-style: none;
        text-decoration: none;
        font-family:'Poppins', sans-serif;
        padding: 0px 20px 30px;
    }
    .vr
    {
         text-align: left;
        margin-left: 20px;
        margin-top: 30px;
    }
    .cera
    {
        list-style: none;
        text-decoration: none;
        font-family:'Poppins', sans-serif;
        text-align: left;
        padding: 0px 20px 30px;
    }
    .rituales
    {
        list-style: none;
        text-decoration: none;
        font-family:'Poppins', sans-serif;
        padding: 0px 20px 30px;
    }
    .rr
    {
       text-align: left;
        margin-left: 20px;
        margin-top: 30px;  
    }
    .corporal
    {
        list-style: none;
        text-decoration: none;
        font-family:'Poppins', sans-serif;
        text-align: left;
        padding: 0px 20px 30px;
    }
}



#cuadros-servicios
{
    margin-bottom: 100px;
    .cuadros-1
    {
        margin-top: 100px;
    }
    .cuadros
    {
        width: 100%;
        border: #c68659 1px solid;
        margin-left: auto;
        margin-right: auto;
        position: relative;  
        margin-bottom: 5px;
        a
        {
            color: $color-titulos;
        }
    }
    .cuadros a:hover
    {
       
        color: #664936;
        font-weight: bold;
    }
  
    .cuadros_texto
    {
        text-align: center;
        font-size: 16px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px; 
        font-family:'Poppins', sans-serif;
    }  
    .linea-servicios
    {
        position: absolute;
        width: 1px;
        height: 286px;
        margin-left:15px;
        background-color: #c68659;
        margin-top: 100px;
        margin-bottom: 10px;
    }
    .serviciost 
    {
       article
       {
        padding: 10px;
        position: relative;
        margin-top:0px;
        margin-left: 20px;
        cursor: pointer;
       }
       h1
       {
        font-size: 24px;
        color: #c68659;
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 20px;
        padding: 0px 30px 0px;
       }
       .masaje
        {
            list-style: none;
             text-decoration: none;
            font-family:'Poppins', sans-serif;
        }
        .masaje li:hover
        {
            color: #664936;
            font-weight: bold;
        }
        .plus
        {
            list-style: none;
            text-decoration: none;
            font-family:'Poppins', sans-serif;
        }
        .plus li:hover
        {
            color: #664936;
            font-weight: bold;
        }
        .faciales
        {
            list-style: none;
            text-decoration: none;
            font-family:'Poppins', sans-serif;
        }
        .faciales li:hover
        {
            color: #664936;
            font-weight: bold;
        }
        .vanguardia
        {
            list-style: none;
            text-decoration: none;
            font-family:'Poppins', sans-serif;
        }
        .vanguardia li:hover
        {
            color: #664936;
            font-weight: bold;
        }
        .rituales
        {
            list-style: none;
            text-decoration: none;
            font-family:'Poppins', sans-serif;
        }
        .rituales li:hover
        {
            color: #664936;
            font-weight: bold;
        }
        .cera
        {
            list-style: none;
            text-decoration: none;
            font-family:'Poppins', sans-serif;
        }
        .cera li:hover
        {
            color: #664936;
            font-weight: bold;
        }
        .corporal
        {
            list-style: none;
            text-decoration: none;
            font-family:'Poppins', sans-serif;
        }
        .corporal li:hover
        {
            color: #664936;
            font-weight: bold;
        }
    }
}

.modal-title
{
    color: #c68659;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: 8px;
    font-size: 20px;
}

.img-masajes-modal
{
    width: 100%;
}

.btn-reserva
{
     background-color: #d1ae85;
    border: 1px solid #d1ae85;
    color: #fff;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    margin-bottom: 10px;
    padding: 10px;
}

.btn-reserva:hover
{
     background-color: #fff;
    border: 1px solid #d1ae85;
    color: #664936;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    padding: 10px;
    cursor: pointer;
}
.contenido-servicios-card
{
    text-align: justify;
    padding: 30px;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
}


/*--------------------------
    media querys
---------------------------*/
@media (max-width:1200px)
{
   
}

@media (max-width:992px)
{
    .contenido-carrusel
    {
        margin-left: 50px;
        position: relative;
    }
    .mr1 
    {
        margin-left: 40px;
    }
}

@media (max-width:768px)
{
    #textos-principales-servicios
    {
        h1
        {
            
            padding: 50px 0px 0px;
            text-align: center;
            font-size: 30px;
            letter-spacing: 5px;
           margin-top: -20px;
        }
        h2
        {
            font-size: 18px;
        }
    }
    .contenido-carrusel
    {
        margin-left: 20px;
        position: relative;
        padding: 0px 0px 20px;
    }
    .mr1 
    {
        margin-left: 40px;
    }
}

@media (max-width:576px)
{
    #textos-principales-servicios
    {
        h1
        {
            padding: 50px 0px 0px;
            text-align: center;
            font-size: 30px;
            margin-top: 20px;
        }
        h2
        {  
            font-size: 18px;
            padding: 0px 0px 20px;
        }
    }
    .contenido-carrusel
    {
        margin-left: 10px;
        padding: 0px 0px 20px;
    }
   
    
}