@import "variables";
#seccion-spa
{
    background: url(../img/cb/bannerspa.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    max-width: 100%;
    margin-top: -8px;
    video
    {
        margin-top: 120px;
        position: relative;
        margin-left: -70px;
        top: 50px;
    }
    a
    {
            color: #c68659;
            font-weight: bold;
            font-size: 15px;
            margin: 0 auto;
            display: block;
            padding: 20px 0px;
            text-align: center!important;
        
    }
    
    h1
    {
        color:$color-titulos;
        font-family:$tipografia;
        text-align: center;
        padding: 150px 0px 10px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    h2
    {
        font-family: $tipografia;
        color: $color-titulos;
        text-align: center;
        font-size: 20px;
    }
    
    .cuadrospa
    {
        background-color: white;
        margin-top: -20px;
        margin-bottom: 20px;
        box-shadow: 0 0 60px 1px #afafaf;
        width: 800px;
        max-width: 90%;
        margin:30px;
        height: auto;
        margin-bottom: 150px;
        position: relative;
        ul.cir
        {
            width: 100%;
            list-style: none; 
            /*display: iline-block; Alinea las imagenes verticalmente*/
        }
         ul.cir
        {
           width: 100%;
            list-style: none; 
            position: relative
        /*display: iline-block; Alinea las imagenes verticalmente*/
        }
        ul.cir li
        {
            width:150px;
            margin-left: -115px;
            margin-top: 10px;
        }
        ul.cir li a
        {
            color:#fff;
            text-decoration: none;
            display: block;
            padding: 1px 0px;   
        }
        .circulos-secciones
        {
            width: 100%;
            position: absolute; 
            height: auto;
            article
            {
                position: absolute;
                margin-left: 50px; 
                margin-top: -50px; 
                margin-bottom: 150px;
                padding: 0px 20px; 
                h1
                {
                   position: relative;
                   text-align: center; 
                   margin-top: -450px; 
                   margin-bottom: 10px;
                   font-size: 25px;  
                }
                p
                {
                     font-family: $tipografia;
                     padding: 10px 50px;
                     font-size: 15px;
                     text-align: justify;
                }
            }
        }
    }
    
    .img-circulos
    {
        width: 100px;
        transition: opacity 1.5s ease-in-out;
    }

      .cuadrobelleza1
    {
        background-color: white;
        margin-top: -20px;
        margin-bottom: 150px;
        box-shadow: 0 0 60px 1px #afafaf;
        width: 800px;
        max-width: 90%;
        margin:30px;
        height: auto;
        .link-spa
        {
            color: #c68659;
            padding: 15px 0px 0px;
        }
    }
    .slider1
    {
        width: 100%;
        margin: auto;
        display: block;
        padding: 20px;
        h1
        {
            font-size: 28px;
            text-align: center;
            color: #c68659;
            font-weight: bold;
            padding: 50px 0 10px;
        }
        p
        {
            text-align: justify;
            padding: 0px 20px 0px;
            font-family: $tipografia;
        }
        a{
            font-size: 18;
            font-weight: bold;
        }
    }

}

/*--------------------------
    style new section
---------------------------*/

.variety-selector {
    left: -40px;
    position: absolute;
    top: 50%;
    width: 110px;
    z-index: 10;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    img{
        width: 110px;
     
    }
    
}

.variety-selector a.active i {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.variety-selector a i {
    color: #fff;
    font-size: 50px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 100;
    opacity: 0;
}

.variety-selector > a.active {
    border: 8px solid #fff;
    height: 110px;
    margin: 0;
    width: 110px;
    border-radius: 50%;
}

.variety-selector > a {
    float: left;
    height: 110px;
    margin: 5px 0;
    overflow: hidden;
    position: relative;
    width: 110px;
    border-radius: 50%;
}

.variety-selector > a:before {
    background:#c68659;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.variety-selector > a.active:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#section-two-spa{
    background: url(../img/cb/bannerspa.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: 100px 0px 150px;
    margin-top: -8px;

    .content-title{
        padding: 30px 0px;
        h2{
            
            color: #c68659;
            font-family: "Poppins", sans-serif;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 5px;
            padding-top: 60px;
        }
        p{
            
        }
    }
    .colum-content{
        padding: 0px 50px;
    }
    .content-principal{
        background-color: burlywood;
        width: 100%;
        height: 500px;
        position: relative;
        background-color: white;
        -webkit-box-shadow: 0 0 60px 1px #afafaf;
        box-shadow: 0 0 60px 1px #afafaf;
    }
  article{
    position: absolute;
    top: 100px;
    left: 120px;
  }
  h1{
    color: #c68659;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  p{
    font-size: 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
  }
  a{
    color: #c68659;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;

  }
    video{
        position: absolute;
        top: 30px;
        left: 50px;
        width: 100%;
        height: 400px;
}

.icon-icon1:before{
    content: url(../img/iconos-servicios/icon-02.png);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 50px;
    left: -10px;
}

.icon-icon2:before{
    content: url(../img/iconos-servicios/icon-01.png);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 50px;
    left: -10px;
}

.icon-icon3:before{
    content: url(../img/iconos-servicios/icon-03.png);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 50px;
    left: -10px;
}
.icon-icon4:before{
    content: url(../img/iconos-servicios/icon-07.png);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 50px;
    left: -10px;
}



}
/*--------------------------
    media querys
---------------------------*/

@media (min-width:1200px)
{
    #seccion-spa{
        video{
            width: 500px;
            top: 0px;
        }
    }
}
@media (max-width:1200px)
{
    #seccion-spa{
        video{
            width: 400px;
        }
    }
}

@media (max-width:992px)
{
    #section-two-spa
    {
       
        video
        {
            position: relative;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 388px;
            padding: 20px 0px;
        }
    }
    .cuadrobelleza1
    {
        margin-bottom: 0px;
    } 
}


@media (max-width:768px)
{
    #section-two-spa
    {
       
        video
        {
            position: relative;
            top: 0px;
            left: 0px;
            width: 100%;
            padding: 0px 30px;
        }
    }
  
}

@media (max-width:576px)
{
 
    #section-two-spa
    {
       
        video
        {
            position: relative;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 222px;
            padding: 0px;
        }
 
    }
    .cuadrobelleza1
    {
        margin-bottom: 0px;
    } 
}