$color-titulos:#c68659;
$titulos-belleza:#7aa9da;
$contenidos-belleza: #4f6a90;
$tipografia:'Poppins', sans-serif;
$titulos-bienestar:#876bb2;
$contenidos-bienestar:#876bb2;
$textos-contacto:#b1875a;
$texto-preguntas: #d1ae85;